/*----------------------home页的主体部分-----------------------------------*/
.main{
	@include flex(1);
	height:100%; 
	width:100%;
	@include flexbox();
	@include flex-direction(column);
/*----------------------home页的头部-----------------------------------*/	
	.header{
		width:100%;
		height:0.44rem;
		background:#0CC140;
		.ul1{
		@include flexbox();
		width:100%;
		height:100%;
		>li{
			width:0.44rem;
			height:100%;
			color:#fff;

			&:nth-child(1){
				text-align: center;
				line-height: 0.44rem;
				font-size:0.20rem;
			};
			&:nth-child(3){
				text-align: center;
				line-height: 0.44rem;
				font-size:0.20rem;
			};
			&:nth-child(2){
				@include flex(1);
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);

			};
				
		}
		 .ol{
			width:1.04rem;
			height:0.25rem;
			@include flexbox();
			background:rgba(100,217,133,0.7);
			color:rgba(255,255,255,0.7);
			@include border-radius(0.5rem);
			overflow: hidden;
			li{
				width:50%;
				height:100%;
				text-align: center;
				line-height: 0.25rem;
				font-size:0.12rem;
				color:#fff;
			}
			.active{
				background:rgba(100,217,133,1);
				color:rgba(255,255,255,1);
			}
		
		} 
	}
	}
/*----------------------主体中的第一个页面包括nav-----------------------------------*/	
	#swiper-home{
	 	@include flex(1);
	 	width:100%;
	    height:100%;
		.nav{
			width: 100%;
			height:0.35rem;
			background:#fff;
			ul{
				width:100%;
				height:0.35rem;
				@include flexbox();
				@include border(0px 0px 1px 0px,#d9d9d9,solid);
			}
			li{
				@include flex(1);
				text-align: center;
				line-height: 0.35rem;
				color:#686868;
				font-size:0.12rem;
			}
			.active{
			    color:#81FCAC;
				border-bottom:2px solid #81FCAC;
			}
		}
/*----------------------content中的内容样式-----------------------------------*/		
		.content{
			@include flex(1);
			width:100%;
			overflow: hidden;
			background:#FFF;
			@include flexbox();
			@include flex-direction(column);
			#swiper-slide{
				@include flex(1);
				width:100%;
				@include flexbox();
			    @include flex-direction(column);
				.swiper-wrapper{
					position:absolute;
					left:0px;
					top:0px;
				}
			} 
		
		}
	}
}
/*----------------------页面中的首页home也页中的主体-----------------------------------*/	
.scoller{
	width:100%;
	height:auto;
	margin-top:0.05rem;
	padding-bottom:0.05rem;
	ul{
		width:100%;
		height:auto;
		@include flexbox();
		li{
			&:nth-of-type(2){
				width:0.05rem;
			}
			img{
				width:100%;
			}
			&:not(:nth-child(2)){
               @include flex(1);
               @include border(1px,#ccc);
            }
            &.hide{
            	opacity: 0;
            };
            b{
            	display:block;
                width:90%;
                height:0.3rem;
                text-align: center;
                line-height: 0.3rem;
                font-size:0.12rem;
                @include border(1px 0 0 0,#ccc);
                font-weight: normal;
                color:#2B2B2B;
                white-space:nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin:0 auto;
                color:#666;

            }
		}
	}
	.head{
		text-align: center;
        height: .3rem;
        line-height: .3rem;
        color:#575757;
        img {
              width: .13rem;
              height: .13rem;
              margin-bottom: 0.02rem;
              display: inline-block;
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              transition: transform 150ms;
              -webkit-transition: transform 150ms;
          }
	}
	.foot{
		 text-align: center;
         height: .3rem;
         line-height: .3rem;
         color:#575757;
         img {
           width: .13rem;
           height: .13rem;
           margin-bottom: 0.04rem;
           display: inline-block;
           transition: transform 150ms;
           -webkit-transition: transform 150ms;
         }
	}
	 .up{
            transform: rotate(360deg) !important;
            -webkit-transform: rotate(360deg) !important;
        }
    .down {
            transform: rotate(180deg) !important;
            -webkit-transform: rotate(180deg) !important;
         }
}
#swiper-home{
	#swiper-wrapper{
		position:absolute;
		left:0px;
		top:0px;
		.swiper-slide{
			@include flexbox();
	        @include flex-direction(column);

		}
	}


} 